@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --primary-blue: hsl(216, 12%, 8%);
  --fs-large: 1.75rem;
  --fs-medium: 1rem;
  --fs-small: 0.9rem;
}
@media (max-width: 400px) {
  :root {
    --fs-large: 1.5rem;
    --fs-medium: 0.8rem;
    --fs-small: 0.8rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #131518;
  color: #fff;
  line-height: 1.6;
  font-family: "Overpass", sans-serif;
  /* min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; */
}
#root {
}
.app {
  min-height: 100vh;
  display: flex;
  border-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
}
.reviews-container {
  position: absolute;
  padding: 1.5rem;
  padding-top: 2rem;
  z-index: 1000;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: scroll;
  /* display: flex; */
  gap: 1rem;
}
.reviews {
  width: 90%;
  max-width: 400px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.reviews svg {
  color: var(--orange);
  margin-left: auto;
}
.review-item {
  display: flex;
  padding: 40px 50px;
  padding-right: 10px;
  background-color: var(--dark-blue);
  border-radius: 21px;
  position: relative;
}
.review-item.deleting::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 21px;
  inset: 0;
}

.review-item .text-display {
  font-size: var(--fs-medium);
}
.num-display {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  border: 7px var(--dark-blue) solid;
  width: 47px;
  height: 47px;
  top: -10px;
  left: -10px;
  /* padding: 10px; */

  border-radius: 50%;
  font-size: var(--fs-small);
  color: var(--orange);
  transition: 0.3s;
}
.feedback-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
/* utility classes */
.text-accent {
  color: var(--light-grey);
}
button {
  border: none;
  background: none;
}
.close-btn {
  margin-left: auto;
}
ul {
  list-style: none;
}

.container {
  max-width: 412px;
  margin: auto;
  padding: 0 20px;
}
.reviews-text {
  padding-left: 10px;
  text-decoration: underline;
  margin-bottom: 1rem;
  font-size: 14px;
  width: fit-content;
  text-align: center;
}
.card {
  display: flex;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 30px;
  color: #333;
  position: relative;
  overflow: hidden;
}
.card form {
  padding: 1.6rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.thanksgiving {
  display: grid;
  place-items: center;
  gap: 2em;
  padding: 1.5rem 2rem;
  color: #fff;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 30px;
  color: #333;
  position: relative;
  overflow: hidden;
}
.thanksgiving img{
  height: 100px;
}
.back-btn {
  position: absolute;
  color: var(--light-grey);
  top: 30px;
  left: 30px;
}
.thanksgiving .paragraph {
  text-align: center;
}
.tq-rating-show {
  border-radius: 20px;
  color: var(--orange);
  background-color: var(--dark-blue);
  width: fit-content;
  padding: 0.5em 1.4em;
  font-size: 15px;
}
.tq-text {
  line-height: 10px;
  font-size: 28px;
}
.logo {
  --size: 48px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h2 {
  color: #fff;
  line-height: 20px;
  font-size: var(--fs-large);
  font-weight: 600;
}
.paragraph {
  font-size: var(--fs-small);
}
.rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rating li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: var(--fs-medium);
  transition: 0.3s;
  background: var(--dark-blue);
}
.rating li p {
  user-select: none;
}
.rating li.selected-rating {
  background: var(--orange);
  color: #f4f4f4;
}

.rating li:not(.selected-rating):hover {
  background: var(--light-grey);
  color: #fff;
}
input {
  border-radius: 20px;
  padding: 0.5em 1.4em;
  font-size: 15px;
  background: var(--dark-blue);
  color: #fff;
  /* width: fit-content; */
}
.input-error {
  border: #cc0000 1px dotted !important;
}
.submit-btn {
  background: var(--orange);
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  font-size: var(--fs-medium);
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.submit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
  background: var(--white);
  border-radius: 30px;
  opacity: 1;
  transition: 0.3s;
  z-index: -1;
}
.submit-btn:hover {
  color: var(--orange);
}
.submit-btn:hover::before {
  transform: translateX(0);
}

input {
  border: none;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.feedback-stats {
  margin-bottom: 2rem;
  color: var(--light-grey);
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close,
.edit {
  position: absolute;

  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}
.close svg,
.edit svg {
  color: var(--light-grey);
}

.edit {
  right: 40px;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
}

.message {
  padding-top: 10px;
  text-align: center;
  color: #fff;
}

@media (max-width: 600px) {
  .rating li {
    width: 42px;
    height: 42px;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
/* loading */
/* From cssbuttons.io by @satyamchaudharydev */
.spinner {
  --clr: #fff;
  margin-inline: auto;
  margin-top: 30px;
  --gap: 6px;
  /* gap between each circle */
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.spinner span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--clr);
  opacity: 0;
}

.spinner span:nth-child(1) {
  animation: fade 1s ease-in-out infinite;
}

.spinner span:nth-child(2) {
  animation: fade 1s ease-in-out 0.33s infinite;
}

.spinner span:nth-child(3) {
  animation: fade 1s ease-in-out 0.66s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}
